
@import url ('https://fonts.googleapis.com/css?family=Oswald:300,700');


* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -300px;
}
.footer, .push {
    height: 300px;
}
/* Code above allowed me to create sticky footers: http://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */

/*home*/
/*div {
  border: 1px solid black;
   outline-color: red;
}*/

.body {
background-color:white;
margin: 0;
outline: 1px solid lime;

}



.header {
  background-color:white;
  height:100px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav{
    margin-left: auto;
    margin-right: auto;

  }

.logo{
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
}
.logo:hover img{
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  -webkit-filter: opacity(0%);
    filter: opacity(0%);
}

.pinklogo img{
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  -webkit-filter: opacity(0%);
    filter: opacity(0%);

}

.pinklogo:hover img{
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  -webkit-filter: opacity(100%);
    filter: opacity(100%);
}

.links{
  float: right;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  margin-right:10%;

}


a:link {
    color: black;

    text-decoration: none;
  }

  a:visited {
      color: black;

  }


a:hover {
  color: #ffb1ff;
}



.homepicture img {
  width: 100%;
  margin-top: 100px;
  position:absolute;
  z-index: -1;
  padding-bottom: 300px;
}

.whitebox{
  background-color: white;
  width: 100%;
  height: 300px;
  position: fixed;
  -webkit-filter: opacity: (90%);
  filter: opacity(90%);

}

.solomondrader{
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  position: fixed;
  margin-top: 75px;
  font-style: oblique;
  text-align: right;
  width: 100%;
  text-align: center;
}

.solomondraderpink{
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  position: fixed;
  margin-top: 55px;
  font-style: oblique;
  text-align: right;
  color: #ffb1ff;
  width: 100%;
  text-align: center;
}

.solomondraderwhite{
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  position: fixed;
  margin-top: 35px;
  font-style: oblique;
  text-align: right;
  color: white;
  width: 100%;
  text-align: center;
}

/*about*/
.aboutbackground{
  background-color: #ffb1ff;
  height: 1835px;
  width:100%;
}

.artist{
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  position: fixed;
  font-style: oblique;
  text-align: right;
  padding-left: 40px;
  margin-top: 20%;
  line-height: 90%;
  color: white;
}

.arrow{
float: left;
margin-top: 22%;
margin-left: 700px;
}


.artisttext{
  width: 500px;
  height: 500px;
  float:left;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  margin-left: -300px;
  margin-top: 60%;

}
/*contact*/

.contactbod{
  background-color: #ffb1ff
}

.contact{
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  float: left;
  font-style: oblique;
  text-align: right;
  margin-left: 40px;
  margin-top: 150px;
  line-height: 90%;
  color: white;
  border-bottom: 1px solid white;
}


.insta img{
position: absolute;
margin-top: 350px;
margin-left: -580px;
}

.instatext{
  position: absolute;
  margin-top: 365px;
  margin-left: 145px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: white;
}

.fb img{
  position:absolute;
  margin-top: 500px;
  margin-left: -580px;
}

.fbtext{
  position: absolute;
  margin-top: 515px;
  margin-left: 145px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: white;
}

.phone img{
  position: absolute;
  margin-top: 350px;
  margin-left: -250px;
}

.phonetext{
  position: absolute;
  margin-top: 365px;
  margin-left: 475px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: white;
}

.email img{
  position: absolute;
  margin-top: 495px;
  margin-left: -250px;
}

.emailtext{
  position: absolute;
  margin-top: 515px;
  margin-left: 475px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: white;

}

.swirlylogo img{
position: absolute;
width:25%;
margin-left: 20%;
margin-top: 10%;
}

/* Portfolio*/

.blob img{
  position: absolute;
  width: 80%;
  margin-top: 150px;
  z-index: -10;
}

.imagesizing{
  width: 80%;
  margin-left: 10%;
}


.kidz img{
  float: left;
  margin-top: 40%;
  margin-left: 10%;
  width: 20%;

}

.kidz:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}


.lovers img{
  float: left;
  margin-top: 20%;
  margin-left: 10%;
  width: 10%;
}

.lovers:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .celloman img{
    float: left;
    margin-top: 30%;
    margin-left: 25%;
    width: 10%;
  }

  .celloman:hover img{
    -webkit-filter: invert(100%);
      filter: invert(100%);
    }

.pif img{
  float: left;
  width: 15%;
  margin-top: 10%;
  margin-left: 6%;
}
.pif:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }

.face img{
  float: left;
  margin-top: 10%;
  margin-left: 11%;
  width: 20%;
}
.face:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }

.radruby img{
  float: left;
  margin-top: 40%;
  margin-left: -60%;
  width: 30%;
}
.radruby:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }

.plasticbeach img{
  float: left;
  margin-top: 50%;
  margin-left: -20%;
  width: 20%;
}
.plasticbeach:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }

.others img{
  float: left;
  margin-top: 95%;
  margin-left: -50%;
  width: 50%;
}
.others:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }

.mountain img{
  float: left;
  margin-top: 80%;
  margin-left: -60%;
  width: 20%;
}
.mountain:hover img{
  -webkit-filter: invert(100%);
    filter: invert(100%);
  }
